// Defining values
$sm-min: 768px;
$xs-max: ($sm-min - 1);
$md-min: 992px;
$sm-max: ($md-min - 1);
$lg-min: 1200px;
$md-max: ($lg-min - 1);



html{
	height: 100%
}
body, article {
  padding: 0;
  margin: 0;
}


article{
	width: 50%;
	margin-left: 25%;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-top: 1em;
	// float: left;
	aside{
		width: 25%;
	}

}


aside{
	width: 10%;
	float: left;
	margin: 0em;
	padding: 0em;
	h1,h2,h3,h4,h5,h6,p,figcaption{
		margin-top: 0em;
	}
}

.right{
	float: right;
	margin-left: 2em;	
	margin-right: 1.5em;
	
}

.left{
	float: left;
	margin-right: 2em;
	margin-left: 1.5em; 
	text-align: right;
}
article{
	aside.left{
		margin-left: 0em;
	}
	aside.right{
		margin-right: 0em;
	}

}

.right-wide{
	float: right;
	width: 40%;
	margin-right: -15%;
	margin-left: 1.5em;
}

.left-wide{
	float: left;
	width: 40%;
	margin-left: -15%;
	margin-right: 1.5em;
	text-align: right;
}

table {
        border-collapse: collapse;
        padding: 0;
        margin: 0 0 11px 0;
        width: 100%;
    }

table th {
    text-align: left;
    border-bottom: 2px solid #eee;
    vertical-align: bottom;
    padding: 1em 10px 10px 10px;
    text-align: right;
}

table td {
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 10px;
    text-align: right;
}

table th:nth-child(1),
table td:nth-child(1) {
    text-align: left;
    padding-left: 0;
    font-weight: bold;
}

.wide{
	width: 75%;
	margin-left: 15%;
	margin-bottom: 0%;
}

.full{
	margin-top: 0%;
	margin-bottom: 0%;
	// display: block;
	width: 100%;
	padding: 0;
	height: 100%;
}


.grid-wrap{
	width: 100%;
	padding-left: 2.5%;
	padding-right: 2.5%;
}
.grid2{
	margin: 0em;
	padding: 0em;
	width: 45%;
	margin-left: 0%;
	margin-right: 5%;
	float: left;
}

hr{
	height: 2px;
	width: 100%;
	background-color: #eee;
	border: 0px;
	
	margin-top: 1em;
	margin-bottom: 2em;
}

@media screen and (max-width: 480px){
	table,
	tbody {
	    display: block;
	    width: 100%;
	}

	thead { display: none; }

	table tr,
	table th,
	table td {
	    display: block;
	    padding: 0;
	    text-align: left;
	    white-space: normal;
	}

	table tr {
	    border-bottom: 1px solid #eee;
	    padding-bottom: 11px;
	    margin-bottom: 11px;
	}

	table th[data-title]:before,
	table td[data-title]:before {
	    content: attr(data-title) ":\00A0";
	    font-weight: bold;
	}

	table td {
	    border: none;
	    margin-bottom: 6px;
	    color: #444;
	}

	table td:empty { display: none; }
	table td:first-child {
	    font-size: 14px;
	    font-weight: bold;
	    margin-bottom: 6px;
	    color: #333;
	}
	table td:first-child:before { content: ''; }

}
// Usage
@media (max-width: $xs-max) {
	article{
		min-width: 85%;
		margin-left: 7.5%;
		.right{
			float:right
		}
	}

	.right{
		float: left;
		margin-left: 7.5%;
	}
	.left{
		float: left;
		margin-left: 7.5%;
	}

	aside{
		width: 85%;
		margin-left: 7.5%;
		margin-bottom: 0%;
	}

	.left-wide{
		float: left;
		min-width: 100%;
		margin: 0%;
	}

	.right-wide{
		float: left;
		min-width: 100%;
		margin: 0%;
	}

	.wide{
		width: 100%;
		margin-left: 0%
	}

	.grid-wrap{
		width: 100%;
		margin-left: 0%;
		padding: 0em;
	}

	.grid2{
		margin: 0em;
		padding: 0em;
		width: 100%;
		margin-left: 0em;
	
	}
}


// @media (min-width: $sm-min) { ... }
// @media (max-width: $sm-max) { ... }
// @media (min-width: $md-min) { ... }
// @media (max-width: $md-max) { ... }
// @media (min-width: $lg-min) { ... }

