figure {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

figure > img {
  width: 100%;
  margin-left: 0%; }

.wide > figure {
  width: 100%;
  margin-left: 0%; }

.full > figure {
  margin-left: 0%; }

.lead-img {
  top: 0;
  text-align: center; }

.lead-text {
  text-align: center; }

figure.share > img {
  margin-top: .5em;
  max-width: 25px; }

.related {
  border-top: .5px solid #eee;
  border-bottom: .5px solid #eee;
  padding-top: 1.5%;
  padding-bottom: 1.5%; }
