figure {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

img {
  width: 100%;
  margin-left: 0%; }

nav img {
  width: auto; }

.wide > figure {
  width: 100%;
  margin-left: 0%; }

.full > figure {
  margin-left: 0%; }

.aside .left-wide img, .aside .right-wide img, .aside .left img, .aside .right img {
  width: 100%; }

.lead-text img {
  width: 100%; }

.lead-img {
  top: 0;
  text-align: center; }
  .lead-img img {
    width: 100%; }

.lead-text {
  text-align: center; }

video {
  height: 100%; }
